.blog-post {

}

	.post-content-content_formatted p + p {
		margin-top: 1.5em;
	}

	.post-content-meta {
		margin-top: 2em;
		margin-bottom: 3em;
		height: 56px;
		line-height: 56px;
	}

		.post-content-meta-avatar {
			margin-right: 1.5em;
		}

	.post-comments {
		margin-bottom: 3rem;
	}