.blog-post {

}

	.post-content-content_formatted p + p {
		margin-top: 1.5em;
	}

	.post-content-meta {
		margin-top: 2em;
		margin-bottom: 3em;
		min-height: 3.5rem;
		line-height: 3.5rem;
	}

		.post-content-meta a {
			float: left;
		}

		.post-content-meta-avatar {
			/*margin-right: 1.5em;*/
			/*float: left;*/
		}

		.post-content-meta a + p {
			margin-left: 4.5rem;
			/*float: left;*/
		}

			.post-content-meta p a {
				float: none;
			}

			.post-content-meta a + p {
				padding-top: 0.8em;
			}

	.post-comments {
		margin-bottom: 8em;
	}