.blog-post {

}

	.post-content-content_formatted p + p {
		margin-top: 1.5em;
	}

	.post-content-author_date {
		margin-top: 2em;
		margin-bottom: 3em;
	}

	.post-comments {
		margin-bottom: 3rem;
	}