.comments_list {

}

	.comments_list h4 {
		margin-bottom: 1em;
	}

	/* spacing between each comment */
	.comments_list-comment {
		margin-bottom: 2em;
	}
	
		.comments_list-comment + .comments_list-comment {
			padding-top: 2em;
			border-top: 1px solid #e7e7e7;
		}

	.comments_list-comment p + p {
		margin-top: 1em;
	}

	.comments_list-comment_child {
		padding-left: 2.5em;
		border-top: 0 !important;
		position: relative;
	}

		.comments_list-comment_child:before {
			content: '';
			position: absolute;
			left: 2.5em;
			right: 0;
			top: 0;
			background: #e7e7e7;
			height: 1px;
		}

	.comments_list-comment-meta {
		font-size: 12px;
		font-size: 0.75rem;
		margin-top: 1rem;
	}

		.comments_list-comment-meta p {
			/*float: left;*/
		}

		.comments_list-comment-reply_btn {
			/*text-align: right;*/
		}