/*! Default Style Sheet | defaults.css | @author Aaron Harding <aaron.thomas.harding@googlemail.com> */

/* ==========================================================================
	 Base styles: opinionated defaults
	========================================================================== */

/*
 * 	Remove text-shadow in selection highlight: h5bp.com/i
 * 	These selection rule sets have to be separate.
 * 	Customize the background color to match design.
 */

::-moz-selection {
	background: #AEC5DF;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #AEC5DF;
	color: #fff;
	text-shadow: none;
}

html {
	font: 16px/1.5em "Helvetica Neue", Helvetica, serif;
	font-style: normal;
	font-weight: 400;
	color: #919191;
	background: #fff;
	min-height: 100%;
	height: auto;
	height: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

body {
	height: 100%;
}

/* ==========================================================================
	Globals
   ======================================================================= */

/* 	hey! are you editing this? well make sure to remember that ems are relative
	to the element's font-size. so 1em = 70px in this case. */
h1 {
	font-family: "Helvetica Neue", Helvetica, serif;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 0.875em;
	text-transform: uppercase;
}

/* primary headline */
h2 {
	font-family: "Helvetica Neue", Helvetica, serif;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1rem;
}

/* secondary headline */
h3 {
	font-family: "Helvetica Neue", Helvetica, serif;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

/* tertiary headline */
h4 {
	font-family: "Helvetica Neue", Helvetica, serif;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5rem;
}

h5 {

}

h6 {

}

/*
 *	Paragraph tags
 */

p {
	font-size: 11px;
	font-size: 0.6875rem;
	line-height: 1em;
	color: #919191;
}

/*
 * 	Looking after the anchors
 */

a {
	text-decoration: none;
	color: #9EC0BB;
	cursor: pointer;
	border: 0;
	outline: 0 !important;
	font-weight: 600;
}

a:active {
	color: #4A8D75;
}

a:hover,
a:focus {
	color: #4A8D75;
	text-decoration: none;
}

a.active {
	color: #4A8D75;
}

a.active:hover,
a.active:focus {
	/*cursor: default;*/
}

h1 a:focus,
h1 a:active,
h1 a.active {
	color: #000 !important;
}

/*
 * 	A better looking default horizontal rule
 */

hr {
	display: block; 
	height: 1px;
	border: 0; 
	border-top: 1px solid #919191;
	margin: 0; 
	padding: 0;	
}

/**
 *  Inputs and Buttons
 */

input,
textarea,
button {
	outline: 0;
	border: 0;
	border-radius: 0;
}

input,
input[type=button],
input[type=submit],
input[type=reset],
select,
textarea,
button {
	border: 1px solid #919191;
}

input[type=checkbox],
input[type=color],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=radio],
input[type=search],
input[type=text],
input[type=tel],
input[type=text],
input[type=type],
input[type=url],
input[type=week] {
	
}

input[type=checkbox]:focus,
input[type=color]:focus,
input[type=date]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=type]:focus,
input[type=url]:focus,
input[type=week]:focus
{

}

select {
	
}

/**
 * 	Lists!
 */

ul,
li 
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul {

}