.events_list {
	margin-bottom: 3rem;
}

	.events_list-events-title {
		margin-bottom: 1em;
	}

	.events_list-event-title {
		overflow: hidden;
	}

		.events_list-event-title h4 {
			float: left;
			margin-bottom: 1em;
		}

		.events_list-event-title p {
			text-align: right;
		}

	/* spacing between each event */
	.events_list-event + .events_list-event {
		margin-top: 1em;
	}

	.events_list-event p + p {
		margin-top: 1em;
	}

	.events_list-event-meta {
		margin-top: 1.5em;
	}

		.events_list-event-meta p + p {
			margin-top: 0.5em;
		}