.section.event-introduction {
	background: #DBF2F7;
    padding: 1.5rem 0 3rem 0;
    position: relative;
}

.section.event-title h2 {
	margin-bottom: 2rem;
}

.section.event.main {
	margin-top: 3rem;
}

.event-speakers {
	margin-bottom: 3rem;
}

	.event-speakers h4 {
		margin-bottom: 1em;
	}

.event-timetable {
	margin-bottom: 3rem;
}

	.event-timetable h4 {
		margin-bottom: 1.5rem;
	}

	.event-timetable-time + .event-timetable-time {
		margin-top: 1.5rem;
	}

	.event-timetable-time h6 {
		float: left;
	}

	.event-timetable-time blockquote {
		padding-left: 9em;
	}

@media (max-width: 700px) {

	.section.main .cell {
		width: 100%;
		float: none;
	}

		.section.main .sidebar {
			margin-top: 3rem;
		}

}