.section.footer {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

/* centers the date to the bottom */
.section.footer .row {
	display: table;
}

.footer.section .cell {
	display: table-cell;
	width: 50%;
	float: none;
	position: relative;
}

.footer.section .cell + .cell {
	text-align: right;
}

	.footer-date {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		text-align: right;
	}