.form {

}

	.form table,
	.form table tbody,
	.form table tr,
	.form table td textarea {
		width: 100%;
	}

	.form table tr td input {
		width: 100%;
		max-width: 18.75rem;
	}

	.form td {
		padding-top: 1rem;
	}

	.form td.label {
		padding-right: 2em;
	}

	#captcha {
		max-width: 100px;
		/*margin-bottom: 1rem;*/
	}

		.captcha_text {
			padding-top: 1rem;
			display: block;
		}

		.captcha img {
			margin-top: 1rem;
		}

	td.required {
		padding-top: 2em;
	}

	span.required {
		padding-left: 0.31rem;
	}

@media (max-width: 480px) {

	.form table td {
		width: 100%;
		display: table-row;
	}

}