.header-nav a {
	padding: 0 0.5em;
}

.header-logo {
	width: 75px;
}

.header-logo img {
	margin-left: 0;
	margin-right: 0;
}

.header-logo span {
	display: none;
}

.header-nav li.last a {
	margin-right: 0;
}