.section.main {
	margin-top: 3rem;
}

.logo {
	height: 25.0rem;
	position: relative;
	z-index: 1;
	/*background: url(/assets/img/logo.png) center center no-repeat;
	background-size: 16em;*/
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#487fde+0,98c7fc+100 */
	background: #487fde; /* Old browsers */
	background: -moz-linear-gradient(top,  #487fde 0%, #98c7fc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#487fde), color-stop(100%,#98c7fc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #487fde 0%,#98c7fc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #487fde 0%,#98c7fc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #487fde 0%,#98c7fc 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #487fde 0%,#98c7fc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#487fde', endColorstr='#98c7fc',GradientType=0 ); /* IE6-9 */
}

	/*.logo .cell {
		text-align: center;
		float: none;
		display: inline-block;
		vertical-align: middle;
	}

	.logo .cell:before {
		display: inline-block;
		height: 50%;
		content: '';
		font-size: 0;
	}*/

		.logo-image {
			/*width: 501px;
			height: 357px;*/
			margin: 0 auto;
			height: 100%;
			background: url(/assets/img/clouds_p-fs8.png) center center no-repeat;
			background-size: 22rem;
		}

.section.home-upcoming_event {
	height: auto;
	min-height: 12.5rem;
	padding: 1.5rem 0 3rem 0;
	position: relative;
	z-index: 2;
	background: #EDF1F7;
}

	.home-upcoming_event h2 {
		margin-bottom: 0.11em;
	}

	.home-upcoming_event-description p {
		margin-top: 1em;
	}

	.home-upcoming_event-image {
		text-align: left;
		float: left;
		width: 100%;
		height: auto;
		margin: 0 0 1.5em;
		/*margin: 0.66em 1.5rem 0.5rem 0;*/
	}

	.home-upcoming_event-more_information_link {
		margin-top: 1em;
	}

	.home-upcoming_event-meta-about-section + .home-upcoming_event-meta-about-section {
		margin-top: 1.5em;
	}

	.home-upcoming_event-timetable-time-date_range h5 {
		margin-bottom: 0.33em;
	}

	.home-upcoming_event-timetable-time {
		overflow: hidden;
		margin-bottom: 0.75em;
	}

		.home-upcoming_event-timetable-time h6 {
			float: left;
		}

		.home-upcoming_event-timetable-time blockquote {
			display: block;
			padding-left: 6rem;
		}

		.home-upcoming_event-timetable-time-date_range {
			margin-bottom: 0em;
		}

@media (max-width: 800px) {

	.section.home-upcoming_event .cell {
		width: 100%;
		float: none;
	}

		.section.home-upcoming_event .home-upcoming_event-timetable {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}

}

@media (max-width: 700px) {

	.section.main .cell {
		width: 100%;
		float: none;
	}

		.section.main .sidebar {
			margin-top: 3rem;
		}

}