.section.location-introduction {
	background: #EDF1F7;
    padding: 1.5rem 0 3rem 0;
    position: relative;
}

.section.location-title h2 {
	margin-bottom: 2rem;
}

.section.location.main {
	margin-top: 3rem;
}

.location-content {
	margin-bottom: 3rem;
}

.location-location {
	margin-bottom: 3rem;
}

	.location-location iframe {
		width: 100%;
	}

	.location-location h6 {
		margin-top: 0.5em;
	}

	.past_events-events {
		margin-top: 2rem;
		height: 0;
		overflow: hidden;
		margin-bottom: 0;
	}

@media (max-width: 700px) {

	.section.main .cell {
		width: 100%;
		float: none;
	}

		.section.main .sidebar {
			margin-top: 3rem;
		}

}