.locations_list {

}

	.locations_list p {
		margin-bottom: 0.5em;
	}

	.locations_list iframe {
		width: 100%;
		height: 400px;
		margin-top: 2em;
	}

	.locations_list h6 {
		margin-top: 0.5em;
	}

	.locations_list h4 {
		margin-bottom: 1em;
	}

	.locations_list-location + .locations_list-location {
		margin-top: 3rem;
	}