.sidebar {

}

	.sidebar h5 {
		margin-bottom: 0.4em;
	}

	.sidebar-item {
		font-size: 13px;
		font-size: 0.82rem;
	}

	.sidebar-item + .sidebar-item {
		margin-top: 4em;
	}

.sidebar-search {

}

	.sidebar-search form {
		margin-top: 0;
	}

.sidebar-newsletter_subscribe {

}

	.sidebar-newsletter_subscribe input[type="text"],
	.sidebar-newsletter_subscribe input[type="email"] {
	    width: 100%;
   		max-width: 250px;
	}

	.sidebar-newsletter_subscribe input[type="email"] {
		margin-top: 1em;
		margin-bottom: 1.2em;
	}

	.sidebar-newsletter_subscribe span.label {
		display: none;
	}

	.sidebar-newsletter_subscribe .required {
		display: none;
	}

.sidebar-recent_conversations {
	
}

	.sidebar-recent_conversations li {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	.sidebar-recent_conversations li + li {
		margin-top: 0.5em;
	}

.sidebar-upcoming_event {

}

	.sidebar-upcoming_event p + p {
		margin-top: 1em;
	}

.sidebar-recent_posts {
	
}

	.sidebar-recent_posts li {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	.sidebar-recent_posts li + li {
		margin-top: 0.5em;
	}

/* a small hack to fix the sidebar gap */

.section.main > .row > .cell.cell-six {
	padding-right: 60px;
}

@media (max-width: 700px) {

	.section.main .sidebar {
		margin-top: 3rem;
	}
}
