.sidebar {

}

	.sidebar h5 {
		margin-bottom: 0.4em;
	}

	.sidebar-item {
		font-size: 13px;
		font-size: 0.82rem;
	}

	.sidebar-item + .sidebar-item {
		margin-top: 2.06rem;
	}

.sidebar-search {

}

	.search input[type=text] {
		display: block;
		height: 2.7em;
		line-height: 2.7em;
		padding: 0 0.8em;
		width: 100%;
		max-width: 250px;
		border-radius: 3px;
	}

	.search input[type=submit] {
		margin-top: 1.2em;
		height: 2.7em;
		line-height: 2.5em;
		padding: 0 2em;
		display: block;
		text-align: center;
		line-height: 2.7em;
		color: #000;
		background: #c3e37a;
		border-radius: 3px;
		border: 0;
	}

		.search input[type=submit]:hover,
		.search input[type=submit]:active,
		.search input[type=submit]:focus {
			background: #b8dd64
		}

.sidebar-recent_conversations {
	
}

	.sidebar-recent_conversations li {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	.sidebar-recent_conversations li + li {
		margin-top: 0.5em;
	}

.sidebar-recent_posts {
	
}

	.sidebar-recent_posts li {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	.sidebar-recent_posts li + li {
		margin-top: 0.5em;
	}