.sidebar {

}

	.sidebar h5 {
		margin-bottom: 0.4em;
	}

	.sidebar-item {
		font-size: 13px;
		font-size: 0.82rem;
	}

	.sidebar-item + .sidebar-item {
		margin-top: 2.06rem;
	}

.sidebar-search {

}

	.sidebar-search form {
		margin-top: 0;
	}

.sidebar-recent_conversations {
	
}

	.sidebar-recent_conversations li {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	.sidebar-recent_conversations li + li {
		margin-top: 0.5em;
	}

.sidebar-recent_posts {
	
}

	.sidebar-recent_posts li {
		list-style-type: disc;
		margin-left: 1.5em;
	}

	.sidebar-recent_posts li + li {
		margin-top: 0.5em;
	}

/* a small hack to fix the sidebar gap */

.section.main > .row > .cell.cell-six {
	padding-right: 60px;
}